<!DOCTYPE html>
<html>
<head>
  <title>Ankur's LinkLog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class = "navbar navbar-fixed-top">
    <div class = "navbar-inner">
      <div class = "container">
        <%= link_to "Linklog", '#', id: 'logo'%>
        <nav>
          <ul class = "nav pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path  %></li>
            <% if signed_in? %>
            <li><%= link_to "Sign out", signout_path, :method =>
            'delete'  %></li>
            <% else %>
            <li>
                <%= button_to "Sign in", signin_path, :class => 'btn
                btn-large btn-primary' %>
            </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container">
    <% flash.each do |k, v| %>
      <div class = "alert alert-<%= k %>"><%= v %>
      </div>
    <% end %>
                                                   
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
  
</body>
</html>
